<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Servlet0</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet0</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>aboutexam.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>aboutexam.ViewQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/ViewQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>aboutexam.AddExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/AddExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>aboutexam.ViewEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/ViewEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet7</servlet-name>
    <servlet-class>aboutexam.ChooseExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7</servlet-name>
    <url-pattern>/ChooseExamServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Servlet8</servlet-name>
    <servlet-class>aboutexam.TakeExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet8</servlet-name>
    <url-pattern>/TakeExamServlet</url-pattern>
  </servlet-mapping> 
    <servlet>
    <servlet-name>Servlet9</servlet-name>
    <servlet-class>aboutexam.GetAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet9</servlet-name>
    <url-pattern>/GetAnswerServlet</url-pattern>
  </servlet-mapping>
</web-app>